name: MLflow CI Training

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install mlflow pandas scikit-learn

    - name: Run MLflow Project
      run: |
        mlflow run MLProject

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
        -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker Image
      run: |
        mlflow models build-docker \
          -m "runs:/$(ls mlruns/*/* | head -n 1)/model" \
          -n nurazizah230904/social-networks-ads-mlflow

    - name: Push Docker Image
      run: |
        docker push nurazizah230904/social-networks-ads-mlflow
